# Experiment 1 - Pandas Review

### Problem Statement

Create a pandas dataframe with student data, impute values and calculate the average of a feature.

---

Import necessary libraries.

In [1]:
import pandas as pd
import numpy as np
import random

Define the number of students (i.e., records) to generate data for. Then, generate two lists, one for height and another for weight, of those students.

In [2]:
numberOfStudents = 1000

listOfHeights = [random.randrange(130, 200) for i in range(numberOfStudents)]
listOfWeights = [random.randrange(50, 150) for i in range(numberOfStudents)]

Arrange the generated data into a pandas dataframe.

In [3]:
df = pd.DataFrame(data = {
        'Student ID': list(np.arange(1, numberOfStudents + 1)),
        'Student Weights (kgs)': listOfWeights,
        'Student Heights (cms)': listOfHeights 
    }   
)

df.set_index('Student ID')

            Student Weights (kgs)  Student Heights (cms)
Student ID
1                              76                    147
2                              85                    171
3                              82                    138
4                             107                    137
5                              52                    194
...                           ...                    ...
996                           127                    184
997                           133                    166
998                           118                    160
999                            54                    149
1000                          139                    145

[1000 rows x 2 columns]

Describe summary statistics of the dataframe.

In [4]:
df.describe()

        Student ID  Student Weights (kgs)  Student Heights (cms)
count  1000.000000             1000.00000            1000.000000
mean    500.500000              100.30300             164.511000
std     288.819436               28.83381              20.233024
min       1.000000               50.00000             130.000000
25%     250.750000               75.75000             147.000000
50%     500.500000              100.00000             165.000000
75%     750.250000              126.00000             182.000000
max    1000.000000              149.00000             199.000000

Calculate the averages of weights and heights of all students and print them out.

In [5]:
meanStudentHeight = df['Student Heights (cms)'].mean()
meanStudentWeight = df['Student Weights (kgs)'].mean()

print('The average student height in cms is:', meanStudentHeight, 'cm')
print('The average student weight in kgs is:', meanStudentWeight, 'kg')

The average student height in cms is: 164.511 cm
The average student weight in kgs is: 100.303 kg

---