### Machine Learning Project: Applying ML to data from the NBA.
Done by:  
Karan Taneja, 500084399, R214220587  
Batch - 5 (Hons.)

In [8]:
print("Hi! This is my project for ML lab sem 4.")

Hi! This is my project for ML lab sem 4.

#### Things accomplished:

- [Importing data and learning basic functionality.](#importing-data)  
- [Finding specific games]   
-   
-

##### Importing data:
To import data to perform ML on, I have used the [*nba_api*](https://github.com/swar/nba_api) package, developed by user [*swar*](https://github.com/swar) on GitHub. It pulls stats straight from [*stats.nba.com*](https://stats.nba.com)  
Here is a small demonstration of me pulling some data using the package:

In [14]:
from nba_api.stats.endpoints import playercareerstats

careerAnthonyDavis = playercareerstats.PlayerCareerStats(player_id = '203076')
careerAnthonyDavis.get_data_frames()[0]

# This command shows us a pandas dataframe showing various different stats about the Player Anthony Davis.

   PLAYER_ID SEASON_ID LEAGUE_ID     TEAM_ID  ...  BLK  TOV   PF   PTS
0     203076   2012-13        00  1610612740  ...  112   89  158   867
1     203076   2013-14        00  1610612740  ...  189  109  200  1394
2     203076   2014-15        00  1610612740  ...  200   95  141  1656
3     203076   2015-16        00  1610612740  ...  125  121  148  1481
4     203076   2016-17        00  1610612740  ...  167  181  168  2099
5     203076   2017-18        00  1610612740  ...  193  162  159  2110
6     203076   2018-19        00  1610612740  ...  135  112  132  1452
7     203076   2019-20        00  1610612747  ...  143  154  156  1618
8     203076   2020-21        00  1610612747  ...   59   74   60   786
9     203076   2021-22        00  1610612747  ...   90   82   97   927

[10 rows x 27 columns]

Now, let's try accessing player and team IDs:  
We use the `nba_api.stats.static` package for this; this is extremely helpful, as we need the IDs because they're used as arguments to API endpoints.

In [48]:
from nba_api.stats.static import teams

nbaTeams = teams.get_teams()
# get_team returns a list of 30 dictionaries, each for an NBA team.
print("Number of teams returned: {}.".format(len(nbaTeams)))
nbaTeams[:30]
# Prints the first two NBA teams in the list.

Number of teams returned: 30.

[{'id': 1610612737,
  'full_name': 'Atlanta Hawks',
  'abbreviation': 'ATL',
  'nickname': 'Hawks',
  'city': 'Atlanta',
  'state': 'Atlanta',
  'year_founded': 1949},
 {'id': 1610612738,
  'full_name': 'Boston Celtics',
  'abbreviation': 'BOS',
  'nickname': 'Celtics',
  'city': 'Boston',
  'state': 'Massachusetts',
  'year_founded': 1946},
 {'id': 1610612739,
  'full_name': 'Cleveland Cavaliers',
  'abbreviation': 'CLE',
  'nickname': 'Cavaliers',
  'city': 'Cleveland',
  'state': 'Ohio',
  'year_founded': 1970},
 {'id': 1610612740,
  'full_name': 'New Orleans Pelicans',
  'abbreviation': 'NOP',
  'nickname': 'Pelicans',
  'city': 'New Orleans',
  'state': 'Louisiana',
  'year_founded': 2002},
 {'id': 1610612741,
  'full_name': 'Chicago Bulls',
  'abbreviation': 'CHI',
  'nickname': 'Bulls',
  'city': 'Chicago',
  'state': 'Illinois',
  'year_founded': 1966},
 {'id': 1610612742,
  'full_name': 'Dallas Mavericks',
  'abbreviation': 'DAL',
  'nickname': 'Mavericks',
  'city': 'Dallas',
  'state': 'Texas',
  'year_founded': 1980},
 {'id': 1610612743,
  'full_name': 'Denver Nuggets',
  'abbreviation': 'DEN',
  'nickname': 'Nuggets',
  'city': 'Denver',
  'state': 'Colorado',
  'year_founded': 1976},
 {'id': 1610612744,
  'full_name': 'Golden State Warriors',
  'abbreviation': 'GSW',
  'nickname': 'Warriors',
  'city': 'Golden State',
  'state': 'California',
  'year_founded': 1946},
 {'id': 1610612745,
  'full_name': 'Houston Rockets',
  'abbreviation': 'HOU',
  'nickname': 'Rockets',
  'city': 'Houston',
  'state': 'Texas',
  'year_founded': 1967},
 {'id': 1610612746,
  'full_name': 'Los Angeles Clippers',
  'abbreviation': 'LAC',
  'nickname': 'Clippers',
  'city': 'Los Angeles',
  'state': 'California',
  'year_founded': 1970},
 {'id': 1610612747,
  'full_name': 'Los Angeles Lakers',
  'abbreviation': 'LAL',
  'nickname': 'Lakers',
  'city': 'Los Angeles',
  'state': 'California',
  'year_founded': 1948},
 {'id': 1610612748,
  'full_name': 'Miami Heat',
  'abbreviation': 'MIA',
  'nickname': 'Heat',
  'city': 'Miami',
  'state': 'Florida',
  'year_founded': 1988},
 {'id': 1610612749,
  'full_name': 'Milwaukee Bucks',
  'abbreviation': 'MIL',
  'nickname': 'Bucks',
  'city': 'Milwaukee',
  'state': 'Wisconsin',
  'year_founded': 1968},
 {'id': 1610612750,
  'full_name': 'Minnesota Timberwolves',
  'abbreviation': 'MIN',
  'nickname': 'Timberwolves',
  'city': 'Minnesota',
  'state': 'Minnesota',
  'year_founded': 1989},
 {'id': 1610612751,
  'full_name': 'Brooklyn Nets',
  'abbreviation': 'BKN',
  'nickname': 'Nets',
  'city': 'Brooklyn',
  'state': 'New York',
  'year_founded': 1976},
 {'id': 1610612752,
  'full_name': 'New York Knicks',
  'abbreviation': 'NYK',
  'nickname': 'Knicks',
  'city': 'New York',
  'state': 'New York',
  'year_founded': 1946},
 {'id': 1610612753,
  'full_name': 'Orlando Magic',
  'abbreviation': 'ORL',
  'nickname': 'Magic',
  'city': 'Orlando',
  'state': 'Florida',
  'year_founded': 1989},
 {'id': 1610612754,
  'full_name': 'Indiana Pacers',
  'abbreviation': 'IND',
  'nickname': 'Pacers',
  'city': 'Indiana',
  'state': 'Indiana',
  'year_founded': 1976},
 {'id': 1610612755,
  'full_name': 'Philadelphia 76ers',
  'abbreviation': 'PHI',
  'nickname': '76ers',
  'city': 'Philadelphia',
  'state': 'Pennsylvania',
  'year_founded': 1949},
 {'id': 1610612756,
  'full_name': 'Phoenix Suns',
  'abbreviation': 'PHX',
  'nickname': 'Suns',
  'city': 'Phoenix',
  'state': 'Arizona',
  'year_founded': 1968},
 {'id': 1610612757,
  'full_name': 'Portland Trail Blazers',
  'abbreviation': 'POR',
  'nickname': 'Trail Blazers',
  'city': 'Portland',
  'state': 'Oregon',
  'year_founded': 1970},
 {'id': 1610612758,
  'full_name': 'Sacramento Kings',
  'abbreviation': 'SAC',
  'nickname': 'Kings',
  'city': 'Sacramento',
  'state': 'California',
  'year_founded': 1948},
 {'id': 1610612759,
  'full_name': 'San Antonio Spurs',
  'abbreviation': 'SAS',
  'nickname': 'Spurs',
  'city': 'San Antonio',
  'state': 'Texas',
  'year_founded': 1976},
 {'id': 1610612760,
  'full_name': 'Oklahoma City Thunder',
  'abbreviation': 'OKC',
  'nickname': 'Thunder',
  'city': 'Oklahoma City',
  'state': 'Oklahoma',
  'year_founded': 1967},
 {'id': 1610612761,
  'full_name': 'Toronto Raptors',
  'abbreviation': 'TOR',
  'nickname': 'Raptors',
  'city': 'Toronto',
  'state': 'Ontario',
  'year_founded': 1995},
 {'id': 1610612762,
  'full_name': 'Utah Jazz',
  'abbreviation': 'UTA',
  'nickname': 'Jazz',
  'city': 'Utah',
  'state': 'Utah',
  'year_founded': 1974},
 {'id': 1610612763,
  'full_name': 'Memphis Grizzlies',
  'abbreviation': 'MEM',
  'nickname': 'Grizzlies',
  'city': 'Memphis',
  'state': 'Tennessee',
  'year_founded': 1995},
 {'id': 1610612764,
  'full_name': 'Washington Wizards',
  'abbreviation': 'WAS',
  'nickname': 'Wizards',
  'city': 'Washington',
  'state': 'District of Columbia',
  'year_founded': 1961},
 {'id': 1610612765,
  'full_name': 'Detroit Pistons',
  'abbreviation': 'DET',
  'nickname': 'Pistons',
  'city': 'Detroit',
  'state': 'Michigan',
  'year_founded': 1948},
 {'id': 1610612766,
  'full_name': 'Charlotte Hornets',
  'abbreviation': 'CHA',
  'nickname': 'Hornets',
  'city': 'Charlotte',
  'state': 'North Carolina',
  'year_founded': 1988}]

In [40]:
from nba_api.stats.static import players

nbaPlayers = players.get_players()
# get_players returns a list of dictionaries, each for a player.
print("Number of players returned: {}.".format(len(nbaPlayers)))
nbaPlayers[:3]

# Prints the first 3 players in the list of all NBA players.

Number of players returned: 4723.

[{'id': 76001,
  'full_name': 'Alaa Abdelnaby',
  'first_name': 'Alaa',
  'last_name': 'Abdelnaby',
  'is_active': False},
 {'id': 76002,
  'full_name': 'Zaid Abdul-Aziz',
  'first_name': 'Zaid',
  'last_name': 'Abdul-Aziz',
  'is_active': False},
 {'id': 76003,
  'full_name': 'Kareem Abdul-Jabbar',
  'first_name': 'Kareem',
  'last_name': 'Abdul-Jabbar',
  'is_active': False}]

We can also search for specific players/teams by using conditional statements for their names.  
Here's an example:

In [22]:
torontoRaptors = [team for team in nbaTeams
                  if team['full_name'] == 'Toronto Raptors'][0]
# This only assigns torontoRaptors the dictionary related to the team Toronto Raptors.
torontoRaptors

{'id': 1610612761,
 'full_name': 'Toronto Raptors',
 'abbreviation': 'TOR',
 'nickname': 'Raptors',
 'city': 'Toronto',
 'state': 'Ontario',
 'year_founded': 1995}

In [23]:
kidFromAkron = [player for player in nbaPlayers
                if player['full_name'] == 'LeBron James'][0]
#Similarly, this assigns kidFromAkron dictionary related to the player LeBron James.
kidFromAkron

{'id': 2544,
 'full_name': 'LeBron James',
 'first_name': 'LeBron',
 'last_name': 'James',
 'is_active': True}

##### Finding Specific Games
Now, to find data about a single game, we use the `LeagueGameFinder` class. If we don't use an argument, it will return around ~30,000 games across the NBA, the WNBA (Women's NBA), the G-League(The minor league of the NBA) and international games. It is suspected that this is the maximum number of rows nba.com will send in a single response, hence 30,000 games are returned.  

Let's try a little demo:

###### Getting all Raptors games against the 76ers from the 2011-2012 season.

In [65]:
torontoRaptorsID = torontoRaptors['id']

from nba_api.stats.endpoints import leaguegamefinder

# Query for the games where the Raptors were playing.
gameFinder = leaguegamefinder.LeagueGameFinder(team_id_nullable = torontoRaptorsID)

torontoRaptorsGames = gameFinder.get_data_frames()[0]

# This will return a pandas dataframe which contains every game the Raptors have ever played.
# torontoRaptorsGames

# This will return a pandas dataframe which contains every game in which the Raptors have played in the 11-12 season, as every game in that season has a SEASON_ID attribute ending in 2011.
torontoRaptorsGames11_12 = torontoRaptorsGames[torontoRaptorsGames.SEASON_ID.str[-4:] == '2011']

# torontoRaptorsGames11_12

# This will finally return what we're looking for, every single TOR v PHI match in the 11-12 season.
torontoRaptorsGames11_12vsSixers = torontoRaptorsGames11_12[torontoRaptorsGames11_12.MATCHUP.str.contains('PHI')]
torontoRaptorsGames11_12vsSixers

# This will return the last game the Raptors have played.
lastRapsGame = torontoRaptorsGames.sort_values('GAME_DATE').iloc[-1]
lastRapsGame

SEASON_ID                      22021
TEAM_ID                   1610612761
TEAM_ABBREVIATION                TOR
TEAM_NAME            Toronto Raptors
GAME_ID                   0022101226
GAME_DATE                 2022-04-10
MATCHUP                    TOR @ NYK
WL                                 L
MIN                              240
PTS                               94
FGM                               36
FGA                               92
FG_PCT                         0.391
FG3M                              12
FG3A                              42
FG3_PCT                        0.286
FTM                               10
FTA                               11
FT_PCT                         0.909
OREB                               9
DREB                              34
REB                               43
AST                               27
STL                               10
BLK                                2
TOV                               13
PF                                17
PLUS_MINUS                     -11.0
Name: 0, dtype: object